@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #222;
}

.app {
  margin: 25vh auto;
  width: 50%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  display: grid;
  justify-content: center;
}

.app h1 {
  text-align: center;
}

.game {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.game .row .col {
  border: 1px solid black;
  padding: 1rem;
}
