* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #222;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, rgb(255, 201, 135), rgb(255, 0, 0));
  color: #fff;
  margin: 100px auto 0;
  border-radius: 1.5rem;
  padding: 3rem 2rem;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.search input {
  border: 0;
  outline: 0;
  background: #fff;
  color: #555;
  padding: 1rem 2rem;
  height: 4rem;
  border-radius: 30px;
  flex: 1;
  font-size: 1.2rem;
}

.search button {
  border: 0;
  outline: 0;
  background: #fff;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}

.search button img {
  width: 2rem;
}

.weather-icon {
  width: 60%;
  margin-top: 2rem;
}

.weather h1 {
  font-size: 4rem;
}

.weather h2 {
  font-size: 2rem;
}

.conditions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem 1rem;
  margin-top: 2rem;
}

.conditions img {
  width: 50%;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40%;
  margin-right: 1rem;
  filter: invert(100%) brightness(200%);
}

.humidity,
.wind {
  font-size: 1rem;
}

.weather {
  display: none;
}

.error {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 800;
  display: none;
}
